<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    欢迎来到DocStack—web的后台管理系
  </h1>
  <img width="300" alt="DocStack Logo" src="https://docstack.oss-cn-beijing.aliyuncs.com/logo.png?Expires=1522054209&OSSAccessKeyId=TMP.AQHtRWDGCsIlb7lzoEISaGVGTg8AKvfWKakMfBki5ZBnsVCavx3JOMvM804pMC4CFQDUJa2_HNh7MWb2Jtuc_OTYUH2V6wIVAKMs_rMnuQFDSiW-v00lVVW2VwYs&Signature=uJJkQmHEjMCclh5DXNObBec1JzY%3D">
  <h2>快乐，活力迎接每一天</h2>

<button nz-button [nzType]="'primary'">antd-angular-test</button>
</div>


