div{
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    ul{
        overflow: hidden;
        padding-left:16px ;
        webkit-transition: height .3s cubic-bezier(.645,.045,.355,1),padding .3s cubic-bezier(.645,.045,.355,1);
    transition: background .3s cubic-bezier(.645,.045,.355,1),padding .3s cubic-bezier(.645,.045,.355,1);
    }
    .title{
        padding:0 5px; 
        height: 42px;
        line-height: 42px;
        &:hover{
            color: rgba(255,255,255,1);
        }
    }
    li,span{
        cursor: pointer;
        
        
    }
    .choose{
        background-color: #108ee9;
    }
    .text{
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: calc(100% - 20px);
    }
    .group{
        display: flex;
        align-items: center;
        justify-content:space-between;
        .arrow{
            font-size: 16px;
            -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
        }
        .up{
            -webkit-transform: rotate(180deg) scale(.75);
            transform: rotate(180deg) scale(.75);
        }
        .anticon-file-text{
            font-size: 16px;
            margin-right: 5px;
        }
    }
    .anticon-file-text{
        font-size: 16px;
        margin-right: 5px;
    }
}
